extends pug/extends/master

block content
	section.section-try
		.container
			h1 Just Balance your Mind &amp; Body
			p Just Balance your Mind &amp; Body 
			form(action="#")
				h2 Trial Class
				.form-group
					input(type="text", placeholder="Enter your name")
				.form-group
					input(type="tel", placeholder="Enter your phone")
				.form-group
					select
						option.default Chose your class
						option 1
						option 2
						option 3
						option 4
						option 5
				.form-group.submit-holder
					input(type="submit", value="Try it")
		.bg(style="background-image:url(images/banner01.jpg)")
	section.section-program
		.container
			h2 Yoga FEATURE PROGRAM
			h3 Our Classes
			ul.program-list
				li
					.program-tile
						.image-holder
							img(src="images/img01", alt="Image description", width="270", height="300")
						.text
							h4 Yoga For Health
							p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
							a.category(href="#") Ashtanga - Hatha
				li
					.program-tile
						.image-holder
							img(src="images/img02", alt="Image description", width="270", height="300")
						.text
							h4 Yoga For Lose Weight
							p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
							a.category(href="#") Ashtanga - Hatha
				li
					.program-tile
						.image-holder
							img(src="images/img03", alt="Image description", width="270", height="300")
						.text
							h4 Yoga For Children
							p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
							a.category(href="#") Ashtanga - Hatha
				li
					.program-tile
						.image-holder
							img(src="images/img04", alt="Image description", width="270", height="300")
						.text
							h4 Yoga For Elderly
							p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
							a.category(href="#") Ashtanga - Hatha
	section
		.container
			ul
				li
					img(src="images/img05.jpg", alt="Image description", width="70", height="70").icon
					h4 Improved overall health
					p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
				li
					img(src="images/img06.jpg", alt="Image description", width="70", height="70").icon
					h4 INCREASED CONCENTRATION
					p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
				li
					img(src="images/img07.jpg", alt="Image description", width="70", height="70").icon
					h4 BLANCE YOUR MIND
					p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
				li
					img(src="images/img08.jpg", alt="Image description", width="70", height="70").icon
					h4 SLEEP BETTER
					p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
				li
					img(src="images/img09.jpg", alt="Image description", width="70", height="70").icon
					h4 WEIGHT LOSS
					p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
				li
					img(src="images/img10.jpg", alt="Image description", width="70", height="70").icon
					h4 STRENGTHENS YOUR BONES
					p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
				li
					img(src="images/img11.jpg", alt="Image description", width="70", height="70").icon
					h4 INCREASED FLEXIBILITY
					p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
				li
					img(src="images/img12.jpg", alt="Image description", width="70", height="70").icon
					h4 LOWER BLOOD PRESSURE
					p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
		.bg(style="background-image:url(images/banner02.jpg)")
	section.section-plan
		.container
			ul.plan-list
				li
					.plan-box
						.box-heading
							| $ 49 /month
						.box-content
							dl
								dt entry date:
								dd mon – fri
								dt entry time:
								dd 8a.m – 8p.m
								dt nutrition advicer:
								dd no
						.box-footer
							a(href="#").btn.btn-primary Buy now
				li
					.plan-box
						.box-heading
							| $ 49 /month
						.box-content
							dl
								dt entry date:
								dd mon – fri
								dt entry time:
								dd 8a.m – 8p.m
								dt nutrition advicer:
								dd no
						.box-footer
							a(href="#").btn.btn-primary Buy now
				li
					.plan-box
						.box-heading
							| $ 49 /month
						.box-content
							dl
								dt entry date:
								dd MON – SUN
								dt entry time:
								dd 8A.M – 8P.M
								dt nutrition advicer:
								dd yes
						.box-footer
							a(href="#").btn.btn-primary Buy now
	section.section-feedback
		.container
			