footer#footer
	.footer-content
		.container
			.column.half
				h3 About
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
				ul.social-networks
					li
						a(href="#").icon-pinterest
					li
						a(href="#").icon-twitter
					li
						a(href="#").icon-facebook
					li
						a(href="#").icon-gplus
					li
						a(href="#").icon-instagram
			.column.half
				h3 Contact us
				ul.contacts-list
					li.icon-map
						address 5419 Joseph Mountains
							br
							| Apt. 716
					li.icon-email
						a(href="mailto:joga.info@example.com") joga.info@example.com
					li.icon-phone
						a(href="tel:+123456789") +1 234 567 89
						br
						a(href="tel:+123467890") +1 234 678 90
					li.icon-earth
						a(href="http://www.example.com") www.example.com
	.footer-bottom
		.container
			p.copy Copyright  &copy;  2016-2017 Yoga classes