header#header
	.container
		div
			ul.nav
				li
					a(href="#").active About us
				li
					a(href="#") Reservation
				li
					a(href="#") Gallery
		div
			strong.logo
				a(href="#")
					img(src="images/logo.png", alt="Yoga", width="68", height="68")
		div
			ul.nav
				li
					a(href="#") Blog
				li
					a(href="#") Elements
				li
					a(href="#") Shop